#clock {
  margin-top: 75px;
  text-align: center;
  vertical-align:text-bottom;
  font-size: 100;
  font-family:"verdana"; 
  color: white;
}

#greeting {
  text-align: center;
  font-family: "verdana";
  font-size: 20;
  height: 50px;
  color: white;
}

#nameInput {
  opacity: 0.8;
  c
  
}

#submit {
  opacity: 0.8;
}

#title {
  background-color: aliceblue;
  opacity: 0.6;
  font-family: "verdana";
  font-size: 25;
  color: black;
  text-align: center;
  position: center;
  border-bottom: 3px solid dimgray;
}

#todo-list {
  width: 500;
  margin-left: auto;
  margin-right: auto;
}

/*
.tasks {
display: inline;
text-align: center;
column-count: 2;

}
*/

/* 
Today
*/
.output1 {
  font-size: 13px;
}

.list {
  text-decoration: none;
  margin-top: 5px;
  display: block;
  outline-color: aqua;
  outline-width: medium;
  width: 225;
  margin-left: auto;
  margin-right: auto;
}

#todo1 {
  width: 250;
  height: 300px;
  background-color: aliceblue;
  opacity: 0.6;
  font-family: "verdana";
  font-size: 20;
  color: black;
  float: left;
  text-align: center;
}

#clear-button-1 {
  background-color: white;
  border: none;
  text-decoration: line-through;
  cursor: pointer;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*
For Later
*/

.output2 {
  font-size: 13px;
}

#todo2 {
  width: 250;
  height: 300px;
  background-color: aliceblue;
  opacity: 0.6;
  font-family: "verdana";
  font-size: 20;
  color: black;
  text-align: center;
  position: center;
  float:right
}

/*
#checkBox2 {
  text-decoration: none;
  margin-top: 5px;
  display: block;
  outline-color: aqua;
  outline-width: medium;
  width: 225;
  margin-left: inherit;
}
*/

#clear-button-2 {
  background-color: white;
  border: none;
  text-decoration: line-through;
  cursor: pointer;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#background {
  background-image: url("http://cdn.paper4pc.com/images/dandelions-closeup-wallpaper-1.jpg");
  background-size:cover; 
}


